body{
	margin: 0;
	padding: 0;
}
.container {
	
	/* overflow: auto; */
	position: relative;
	}
.myNav{
	border: none;
	margin-bottom: 0px;
	background-color: black;

}

.navbar-brand{
	margin: 20px 0 ;
	height: auto;
	padding: 0;
}
a img{
	display: block;
	max-width: 100%;
	height: auto;
	border:0;
	
 }
/* .navbar-header {
	display: block;
	height: auto;
	
} */

.search {
	padding: 58px 0;
	margin-left: 20px;
	float: right;

}
.search i {
	font-size: 35px;		
}
.sendme {
	margin-left: 20px;
	float: right;
	padding: 50px 0;
	/* position: absolute;
	padding: 50px 0;
	display: block;
	margin-left: 32px;
	margin-top: auto;
 	margin-bottom: auto; 
 	top: 0px;
 	right: 123px; */
}
.sendme a {
 	border-radius: 4px;
 	display: inline-block;
 	background: green;
 	color: white; 	
 	text-transform: uppercase;
 	padding: 12px 25px;
 	font-weight: bold;
 	letter-spacing: 0.7px;
 	text-decoration: none;
 	font-size: 20px; 	
 	transition: all 1s ease 0s;
 }
 .sendme a:hover{
 	background-color: white;
 	color: green;
 }
#navbar {
	text-align: center;
}

/*.active a{
	background-color: green;
	content: "";
	display: inline-block;
	left: 21px;
	right: 21px;
	top: 0;
	height:0;
}*/
.navbar-nav {
	display: inline-block;
	float: none;
}

.navbar-nav li a {
	padding: 60px 21px 15px;
	margin-top: 0;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}
#navbar #top{
	background: black;
	color:white;
	text-transform: uppercase;
	font-weight: bold;
}
#navbar #top:hover{
	background-color: green;
}
.navbar .active a:hover:before{
	height: 40px;
	left: 15px;
	right: 15px;
	background: green;
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
	height: 0;
}
.dropdown-menu li a{
	transition: all 1s;
	display: block;
	padding: 14px 22px;

}
.dropdown-menu li a:hover{
	background: black;
	color: white;
}
.dropdown-menu{
	display: block;
	background: white;
	box-shadow: 0 8px 16px 0 black;	
	transform-origin: 0 0;
	transform: rotateX(90deg);
	transition: transform 1s;
	
}
.dropdown:hover .dropdown-menu{
	transform: rotateX(0deg);
	opacity: 1;	
}


@media (max-width: 991px){
	.sendme a{
		padding-top: 4px;
		padding-bottom: 4px;
	}
}



.slide {
	max-width: 600px;
	margin: 0px auto ;	
	background-color: black;
}

.slide img{
	height: 50px;
}

.slider-for img{
	text-align: center;
	margin:  auto ;
	width: 100%;
	height: 500px;	
}

.slick-prev:before, .slick-next:before { 
    color:red !important;
}

*/*/